p {
    color: red;
}

#container2 p:last-child {
    color: rgb(30, 50, 140);
    background-color: beige;
    margin: 32px;
    border: solid 5px green;
    padding: 20px;
}

#container2 p:last-child:hover {
    color: #ffffff;
    background-color: red;
    border: solid 5px black;
}